
<!-- <div class="container">

    <div id="header">
      <img src="./assets/img/burgie.png"><br>
      <img src="./assets/img/title.png">
    </div>

    <div class="row">
        <div class="col-4">
            <h2>Burgers</h2>
            {{#each burgers}}
            <div class="burgerData" id="div-burger-{{id}}" data-devoured="{{devoured}}">
                <p class="burgerName">{{burger_name}}</p>
            </div>
            {{/each}}
        </div>
        <div class="col-3">
          <forms>		
            <h2>Name a Burger</h2>
            <div><input type="text" id="newBurger"></div>
            <div>
                <input type="submit" id="btn-submit" class="btn" value="Add Burger">
            </div>
          </form>
        </div>
        <div class="col-3">
          <h2>Burgers Eaten</h2>
            {{#each devoured}}
              <div class="devouredData" id="div-devoured-{{id}}" data-devoured="{{devoured}}">
                  <p class="devouredName">{{burger_name}}</p>
              </div>
            {{/each}}
        </div>
    </div>
</div> /container -->


    <div id="wrapper">
      <h1>Note Scraper</h1>
      <h2><i>If you can do this...the homework should be no problem.</i></h2>
      <div id="articles"></div>
      <div id="notes"></div>
    </div>


